<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <script src="/script.js" async></script>
</head>
<body>
    <div class="row w-50 mx-auto my-5 shadow-lg p-5 rounded-5">
        <h2>AgroSis API - Docs</h2>
        <p><b>Ruta base:</b> http://localhost:3000 </p>
        <p><b>Descripción:</b> API Restful del sistema AgroSis desarrollado en NodeJS</p>

        <div id="tables">
            
        </div>

    </div>
</body>
</html>